<div class="row pdetails">
    <div class="col-md-5 col-sm-12">
        <img class="imgpd img-fluid" src={{@source}} alt="product img">
    </div>
    <div class="col-md-1 col-sm-0" style="margin-top: 2vh;"></div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <h2>{{@title}}</h2>
        </div>
        <h6 class="descpd">{{@desc}}</h6>
        <h5 class="pricepd">{{currencysign @price }}</h5>
      <button class="btn btn-success btnpd" type="button" {{action 'addToCart'}} >Add to Cart</button>
    </div>
</div>