{{page-title "Shop " @model.category_id}}

<div class="row">
    
    {{#each @model as |item|}}

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
           <br>
           <div class="card">
                <img class="card-img-top img-fluid" src={{item.imglink}} alt="product image">
                <div class="card-body">
                    <h5 class="card-title">{{item.product_title}}</h5>
                    <p class="card-text d-inline-block text-truncate productdesc" >{{item.desc}}</p>
                    <h4  class="card-text">$ {{item.price}}</h4>
                </div>    
            </div>
        </div> 
        
    {{/each}}

</div>